form.fstyle {
    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    color: #333;
    width: 80%;
    margin-left: 10%;
    margin-top: 16px; 
    margin-bottom: 16px; 
}

form.fstyle label {
    display: block;
    width: 100%;
    margin: 0px;
}

/* input,textarea,select */
form.fstyle input, form.fstyle textarea, form.fstyle select {
    padding: 4px;
    margin: 1px 0px 6px 0px;
    border: 1px solid #bbb;
    background: #fbfbfb;
    font-size: 13px;
}

/* input type=text */
form.fstyle input.itext {
    width: 100%;
}

form.fstyle input.itext:focus {
    border-color: #888;
}

/* input type=submit,button */
form.fstyle input.isubmit, form.fstyle input.ibutton {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 2px;
    font-size: 12px;
}

form.fstyle input.isubmit:hover, form.fstyle input.ibutton:hover {
    background-color: #eee;
    border-color: #888;
    color: #222;
}

/* textarea */
form.fstyle textarea {
    width: 100%;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

/* select */
form.fstyle select {
    width: 100%;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

